<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="app">
        <header>

        </header>
        <main>
            <div class="container home">
                <div class="app-header">
                    <div class="app-title">
                        <i class="fa-solid fa-book header-icon"></i>
                        <h1 class="app-name">To-do app</h1>
                    </div>
                    <p class="app-description">
                        Welcome to my simple todo app <br />
                        Please login with your google account
                    </p>
                </div>
                <div class="app-login">
                    <a href="/login">
                        <button class="login-button">
                            <i class="fa-brands fa-google google-button"></i>
                            <span>Log in with google</span>
                        </button>
                    </a>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>

</html>